* {
    margin: 2px;
}

.top-background {
    height: 500px;
    padding-bottom: 100px;
    background-image: url(images/banner/banner1.png);
    background-size: cover;
    background-repeat: no-repeat;
}


.half-width {
    margin-top: 200px;
    margin-right: 100px;
    width: 400px;
    float: right;
    margin-left: 5%;
    padding-left: 5%;
    text-align: justify;
}

h1 {
    text-align: end;
    font-size: 50px;
    font-weight: 600;
}

#header-p {
    text-align: end;
    margin-top: 20px;
}

.button {
    margin-top: 30px;
    margin-left: 310px;
    height: 30px;
    width: 90px;
    text-decoration: none;
    border: none;
    color: white;
    background-color: orangered;
    text-align: center;
    border-radius: 5px;
}

/* Second  section */


.second-section {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#second-part {
    margin-top: 200px;
    margin-left: 000px;
    width: 400px;
    float: right;
    margin-left: 5%;
    padding-left: 5%;
    text-align: justify;

}

#woman-img {
    height: 600px;
    width: 450px;
}

.fa-solid fa-check {
    background-color: red;
}

.margin {
    margin-top: 15px;
}

/* my plan */
.my-plan {
    margin-top: 60px;
    display: flex;
    margin-left: 100px;


}

.my-plan-margin {
    margin-left: 60px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

h3 {
    font-size: 40px;
    text-align: center;

}

.section-3 {
    margin-top: 40px;

}

/* watch section */
.Call-Now {

    margin-top: 20px;
    height: 30px;
    width: 90px;
    text-decoration: none;
    border: none;
    color: white;
    background-color: orangered;
    text-align: center;
    border-radius: 5px;
}

.watch {
    margin-top: 150px;
    height: 300px;
    width: 300;
    background-image: url(images/watch.png);
    background-position: center;
    background-repeat: no-repeat;

}

#watch-group {
    padding-top: 100px;
    margin-left: 80px;

}

/* footer */
.footer-bg {

    margin-top: 100px;
    background-color: black;
    height: 400px;
    width: 100%;

}

.footer-pra {
    padding-top: 100px;
    margin-left: 200px;
    color: white;
    display: inline-block;

}

.last {
    padding-left: 200px;
    display: inline-block;

    padding-bottom: 200px;


}

#s {
    margin-top: 0px;
    height: 30px;
    width: 90px;
    text-decoration: none;
    border: none;
    color: white;
    background-color: orangered;
    text-align: center;
    border-radius: 5px;
}
